<header>
    <div class="jumbotron jumpotron-fluid">
        <div class="container">
            <h1 class="display-4">dripz</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure explicabo consectetur maiores, minus labore perspiciatis praesentium. Expedita quod nesciunt ipsum saepe, ducimus, aliquid repellendus deleniti unde vitae aperiam, similique libero.</p>
        </div>
    </div>
</header>