<div class="row">
                 <div class="col-md-12">
                     <div class="alert alert-danger">
                         Out of stock.
                     </div>
                 </div>
            </div>  