@model ProductViewModel

@{
    var mostPopular = Model.Products.Count>2? "popular":"";
    var products = Model.Products;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .popular{
            color: red;
            font-weight: 700; 
        }
    </style>
</head>
<body>
   @await Html.PartialAsync("_navbar")
   @await Html.PartialAsync("_header")
   @* <partial name="_header"> *@
    <main>

        <div class="row">
            <div class="col-md-3">
                 @await Component.InvokeAsync("Categories")
            </div>
            <div class="col-md-9">
                <div class="container">
       
                    @if(Model.Products.Count==0)
                    {
                        @await Html.PartialAsync("_noproduct")
                    }
                    else
                    {    
                        <div class="row">

                            @foreach (var product in Model.Products)
                            {
                                <div class="col-md-3"> 
                                    @await Html.PartialAsync("_sneaker",product)
                                </div> 
                            }
                        </div>    
                    }
                </div>
            </div>
    </main>
</body>
</html>
