@using shopapp.webui.Models
@model List<Category>

<div class="list-group">
                    @foreach (var category in Model)
                    {
                        <a href="#" class="list-group-item list-roup-item-action" >@category.Name</a>
                    }
                </div>